extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/js/actions/GeneratorActions"/>
  |<script type="text/jsx" src="js/js/components/NumberGenerator.jsx"/>
  |<script type="text/jsx" src="js/js/constants/GeneratorConstants"/>
  |<script type="text/jsx" src="js/js/dispatcher/AppDispatcher"/>
  |<script type="text/jsx" src="js/js/stores/GeneratorStore"/>
  |<script type="text/jsx" src="js/js/GeneratorAPI"/>
  |<script type="text/jsx" src="js/js/GeneratorData"/>

  //- endinject
